# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
hw/sym-lib-table
hw/fp-lib-table
hw/fp-info-cache
hw/seatalk_wifi-backups/**
wifi_credentials.h

# Eclipse files
sw/.cproject
sw/.project
sw/.settings/

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Freecad files
holder/*.FCStd1
holder/*.stl
